@import url('https://fonts.googleapis.com/css?family=Yellowtail&display=swap')

$primary-color: #63d3ff
$font-stack:    'Yellowtail', cursive

.navigation-bar
    font-family: $font-stack
    font-size: 2rem
    background-color: $primary-color
    border-width: 0.5rem
    border-style: solid
    border-color: $primary-color
    margin-top: -0.5rem
    margin-left: -0.5rem
    margin-right: -0.5rem