<div class="row">
  <div class="col-4 mx-auto" id="search-component">
    <mat-form-field id="search-field">
      <input
        matInput
        placeholder="Yes you can write here!!"
        [type]="hide ? 'password' : 'text'"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>
  </div>
</div>
