<div class="row">
  <div class="col-4 mx-auto" id="search-component">
    <div class="row">
      <div class="col-10">
        <mat-form-field id="search-field">
          <input
            matInput
            placeholder="Need to discuss about the fab-icon"
            [type]="hide ? 'password' : 'text'"
          />
        </mat-form-field>
      </div>
      <div>
        <!-- This needs to be discussed around, a mini fab or a regular fab -->
        <button mat-mini-fab aria-label="Example icon-button with a heart icon">
          <mat-icon>favorite</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
